<%= form_for(@payslip) do |f| %>
  <% if @payslip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payslip.errors.count, "error") %> prohibited this payslip from being saved:</h2>

      <ul>
      <% @payslip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <th> <%= f.label :payslip_date %></th>
      <td colspan="2"> <%= f.date_select :payslip_date, { discard_day: true, use_month_numbers: true }, { class: 'input-small' } %> </td>
    </tr>
    <tr>
      <th> <%= f.label :name %></th>
      <td colspan="2"> <%= f.text_field :name %> </td>
    </tr>
    <tr>
      <th> <%= f.label '労働期間' %></th>
      <td colspan="2"> <%= f.date_select :work_from, {}, { class: 'input-small' } %> から<br/> <%= f.date_select :work_to, {}, { class: 'input-small' } %> まで </td>
    </tr>
    <tr>
      <th> <%= f.label :working_days %> </th>
      <td colspan="2"> <%= f.number_field :working_days %> </td>
    </tr>
    <tr>
      <th> <%= f.label :working_time %> </th>
      <td colspan="2"> <%= f.text_field :working_time %> </td>
    </tr>
    <tr>
      <th> <%= f.label :outworking_time%> </th>
      <td colspan="2"> <%= f.text_field :outworking_time %> </td>
    </tr>
    <tr>
      <th rowspan="7">支給額</th>
      <th> <%= f.label :basic_pay %> </th>
      <td> <%= f.number_field :basic_pay %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :allow_1_label %> </th>
      <td> <%= f.number_field :allow_1 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :allow_2_label %> </th>
      <td> <%= f.number_field :allow_2 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :allow_3_label %> </th>
      <td> <%= f.number_field :allow_3 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :allow_4_label %> </th>
      <td> <%= f.number_field :allow_4 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :allow_5_label %> </th>
      <td> <%= f.number_field :allow_5 %> </td>
    </tr>
    <tr>
      <th> <%= f.label :transportation_expenses %> </th>
      <td> <%= f.number_field :transportation_expenses %> </td>
    </tr>
    <tr>
      <th rowspan="8">控除額</th>
      <th> <%= f.label :income_tax %> </th>
      <td> <%= f.number_field :income_tax %> </td>
    </tr>
    <tr>
      <th> <%= f.label :residents_tax %> </th>
      <td> <%= f.number_field :residents_tax %> </td>
    </tr>
    <tr>
      <th> <%= f.label :health_insurance %> </th>
      <td> <%= f.number_field :health_insurance %> </td>
    </tr>
    <tr>
      <th> <%= f.label :welfare_pension %> </th>
      <td> <%= f.number_field :welfare_pension %> </td>
    </tr>
    <tr>
      <th> <%= f.label :unemployment_insurance %> </th>
      <td> <%= f.number_field :unemployment_insurance %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :deduction_1_label %> </th>
      <td> <%= f.number_field :deduction_1 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :deduction_2_label %> </th>
      <td> <%= f.number_field :deduction_2 %> </td>
    </tr>
    <tr>
      <th> <%= f.text_field :deduction_3_label %> </th>
      <td> <%= f.number_field :deduction_3 %> </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit value: 'PDFをダウンロード', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
